@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin-forever {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-forever {
    animation: spin-forever 3s linear infinite;
}